$grey: #83838370;

body {
  width: 100vw;
  height: 100vh;
}

.interface {
  &-wrapper {
    pointer-events: none;
  }
  &-card {
    min-width: 20rem;
    background-color: $grey;

    &.large {
      width: 30rem;
    }
  }
  &-text {
    color: white;
  }
  &-title {
    color: white;
    font-size: 2rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
  }
  &-subtitle {
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
  }
  &-link {
    color: #00a6ff;
    pointer-events: all;
    cursor: pointer;
  }
  &-button {
    pointer-events: all;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    margin-bottom: 0.5rem;

    &:hover {
      color: grey;
    }

    &-item {
      &.full {
        width: 100%;
      }
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &.disabled {
      &:hover {
        color: white;
      }
      background-color: lightgray;
      pointer-events: fill;
      cursor: not-allowed;
    }

    &.wip {
      &::after {
        content: "WIP";
        position: absolute;
        color: white;
        background-color: red;
        border-radius: 0.5rem;
        padding: 0.2rem;
        transform: rotate(-45deg);
      }
    }

    &.locked {
      &::after {
        content: "🔒";
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }
  &-icon-button {
    pointer-events: all;
    cursor: pointer;

    &:hover {
      color: grey;
    }
  }
  &-input {
    pointer-events: all;
    background-color: transparent;
    margin-bottom: 0.5rem;
    color: white;

    &:focus {
      background-color: transparent;
      border-color: grey;
      box-shadow: 0 0 0 0.25rem grey;
      color: white;
    }

    &::placeholder {
      color: #b0b0b0;
    }
  }

  &-progress {
    & > span {
      color: white;
      font-size: 3rem;
      height: 10rem;
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
    }
  }

  &-table-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
  }

  &-hidden {
    display: none !important;
  }
}

.hud {
  &-wrapper {
    pointer-events: none;
  }
  &-card {
    margin-right: 3rem;
  }
  &-text {
    color: white;
    text-transform: uppercase;

    &-title {
      font-size: 2rem;
    }
  }
  &-hidden {
    display: none !important;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
